/** Temporal solution to support Dark Mode in @tailwindcss/typography */
.dark-mode .prose {
  font-family: theme('fontFamily.inter');
  color: theme('colors.gray.200');
}
.dark-mode .prose > h1, h2, h3, h4, h5, h6 {
  color: theme('colors.white');
}

.dark-mode .prose p {
  line-height: theme('lineHeight.loose');
  color: theme('colors.gray.500');
}

.dark-mode .prose a {
  font-weight: theme('fontWeight.bold');
  color: theme('colors.primary.300');
  text-decoration: underline;
}

.dark-mode .prose a:hover {
  color: theme('colors.primary.400');
}

.dark-mode .prose code {
  color: theme('colors.white');
  @apply bg-primary-400 bg-opacity-75 !important;
  padding: theme('padding.1');
  border-radius: theme('borderRadius.md');
}

.dark-mode .prose code::before {
  display: none;
}
.dark-mode .prose code::after {
  display: none;
}

.dark-mode .prose pre {
  color: theme('colors.gray.400');
  background-color: theme('colors.dark.600');
}

.dark-mode .prose strong {
  color: theme('colors.white');
  font-weight: theme('fontWeight.bold');
}

.dark-mode .prose pre code {
  background: transparent !important;
}

.dark-mode blockquote {
  color: theme('colors.gray.400');
  border-left: 5px solid theme('colors.primary.700');
  @apply bg-dark-700 bg-opacity-75 !important;
  border-radius: theme('borderRadius.md');
}

.dark-mode blockquote > p {
  padding: 14px;
  padding-right: 20px;
}

@screen md {
  blockquote {
    @apply -mx-10 !important;
  }
}

@screen lg {
  blockquote {
    @apply -mx-16 !important;
  }
}